

.app-container {
  background-color: #494b5b;
  width: 100vw;
  height: 100vh; 
}

.home-container {
  padding-top: 10%;
  padding-left: 30%;
  background-color: #494b5b;

}

.home-title {
  margin-bottom: 20px;
  color: white;
  font-size: large;
  font-weight: bold;
}

.input-textarea {
  width: 80%;
  height: 150px;
  padding: 12px 20px;
  /* box-sizing: border-box;
  border: 2px solid #ccc; */
  border-radius: 4px;
  background-color: #494b5b;
  font-size: 16px;
  color: white;
  overflow: auto;
  outline: none;
}

.loading-message {
  color: white;
}

.response-textarea {
  border: none;
  width: 80%;
  height: 150px;
  padding: 12px 20px;
  /* box-sizing: border-box;
  border: 2px solid #ccc; */
  border-radius: 4px;
  background-color: #494b5b;
  font-size: 16px;
  color: white;
  overflow: auto;
  outline: none;
}