body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white; 
}

.app-container {
  height: 100vh; 
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  background-color: white; 
}

.home-container {
  background-color: white;
  text-align: center;
  padding-bottom: 10rem;
  margin-top: 20px;
}

.home-title {
  margin-bottom: 20px;
  color: black;
  font-size: 40px;
  font-weight: bold;
}

.summarize-container {
  width: 100%;
}

.input-textarea {
  width: 50vw;
  height: 40vh;
  max-height: 30vh; /* Set the maximum height */
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: white;
  font-size: 16px;
  color: black;
  overflow: auto; /* Hide the default scrollbar */
  box-sizing: border-box; /* Optional: Include padding and border in the element's total width and height */
  padding: 9px;
  /* Custom scrollbar for webkit-based browsers */
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  outline-color: rgb(32, 184, 207);
}

.input-textarea::-webkit-scrollbar {
  width: 1px; /* Set the width of the scrollbar */
}

.input-textarea::-webkit-scrollbar-thumb {
  background-color: transparent; /* Set the color of the thumb (the moving part of the scrollbar) */
}

.loading-message {
  color: rgb(6 78 59);
}

.submit-button {
  border: 1px solid black;
  color: white;
  width: 4rem;
  height: 2rem;
  border-radius: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: box-shadow 0.3s ease; 
  cursor: pointer;
  margin-top: 3vh;
  background-color: #0d8065;
}

.submit-button:hover {
  background-color: rgb(6 78 59);
}

.submit-button:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a box-shadow effect on click */
}

.response-textarea {
  margin-top: 4vh;
  border-color: rgb(209 250 229);
  width: 50vw;
  height: 15vh;
  /* box-sizing: border-box;
  border: 2px solid #ccc; */
  border-radius: 4px;
  background-color: rgb(236 253 245);
  font-size: 16px;
  color: rgb(6 78 59);
  overflow: auto;
  outline: none;
}


@media (max-width: 768px) {
  .app-container {
    padding: 20px;
  }

  .home-title {
    font-size: 20px; 
  }

  .input-textarea {
    width: 80vw; 
    height: 50vh; 
    font-size: 14px; 
  }

  .submit-button {
    padding-top: 5px;
    margin: 0 auto; 
    display: block; 
  }

  .response-textarea {
    width: 80vw; 
    height: 18vh; 
  }

  .loading-message {
    padding-top: 10px;
  }

  .home-container {
    background-color: white;
    text-align: center;
  }
}